#content td {
    width: 1px;
    min-width: 75px;
    white-space: nowrap;
}

#content img {
	vertical-align: middle;
}

#content h1 { 
	font-size: 115%;
    white-space: nowrap;
}

#content h1 img {
	margin: 1px 5px 0 1px;
	border: 0px;
}

#content #map img {
	margin-top: 10px;
    border: 1px solid #d3d3d3;
}

#loading {
	background: url(../images/loading.gif) no-repeat center 10%;
}

#error {
	background: url(../images/error.png) no-repeat center 10%;
}

#error span {
	width: 100px;
}

#loading span {
	width: 110px;
}

#error,
#loading {
	font-size: 12px;
	width: 135px;
	height: 65px;
}

#error span,
#loading span {
	position: relative;
	top: 70%;
	transform: translateY(-50%);
}