#content td {
    width: 1px;
    min-width: 75px;
    white-space: nowrap;
}

#content img {
	vertical-align: middle;
}

#content h1 { 
	font-size: 115%;
    white-space: nowrap;
}

#content h1 img {
	margin: 1px 5px 0 1px;
	border: 0px;
}

#content #map {
	margin-top: 10px;
}

#loading {
	background: url(../images/loading.gif) no-repeat center 10%;
}

#loading span {
	width: 110px;
}

#loading {
	font-size: 12px;
	width: 135px;
	height: 65px;
}

#loading span {
	position: relative;
	top: 70%;
	transform: translateY(-50%);
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #2b2b2b;
        color: #d3d3d3;
    }
}